<p>Hey Everyone,<br />
You have an event coming up today! Everyone on this email is either on the guest list or waitlist. Check out the event details and guest list at www.penncommunity.com/events/<%= @id %> and use this email chain to decide on a venue and plan last minute logistics. Enjoy your event!</p>
<p>Sincerely,<br />
Penn Community</p>