<p>Hey Everyone,</p>
<p>You have an event coming up today! Everyone on this email is either on the guest list or waitlist. Check out the full event details and guest list at www.penncommunity.com/events/<%= @event.id %></p>
<p></p>
<p>Sincerely,</p>
<p>Penn Community</p>
