<p>Hey Everyone,</p>
<p>You have an event coming up today! Everyone on this email is either on the guest list or waitlist. Check out the event details and guest list at www.penncommunity.com/events/<%= @id %> and use this email chain to plan last minute logistics. Enjoy your event!</p>
<br/>
<p>Sincerely,</p>
<p>Penn Community</p>
