<p>Hey <%= @firstname %>,<br />
Welcome to Penn Community! You're on your way to making new friends all across Penn. Here are some tips to help you get started:</p>
<p>** Your User Profile can be found at: www.penncommunity.com/users/show/<%= @id %></p>
<p>** You can create a New Event at any time: www.penncommunity.com/events/new</p>
<p>** Browse through the Event List to join events: www.penncommunity.com/events</p>
<p>** Want to meet others in the retail industry? Find people for a pickup tennis match? Chat about upcoming travel destinations? Just specify your interests in the event title</p>
<p>** Everyone on the attendance list will receive an email reminder on the day of the event</p>
<p>Sincerely,<br />
Penn Community</p>