<% @@shuo_id = 1 %>

<h2>Welcome to Penn Community!</h2>
<p>There are over 24,000 students at Penn, but few of us hang out with people outside our immediate academic and social circles. Through organized small group events, Penn Community helps students across campus connect with one another more easily.</p>
<p>My name is Shuo and I've been at Penn as an undergraduate (Wharton '08, Engineering '08) and now as a graduate (Wharton MBA '15) student. The difficulty of meeting other people across campus is something I hear about everyday. Check out my <%= link_to "profile", user_show_path(@@shuo_id) %> or <%= mail_to "shuoz@wharton.upenn.edu", "contact me" %> if you have any comments, questions or feedback about this website. I'm constantly looking to improve the experience for all of you!</p>

<div class = "signup-button" >
<td><%= button_to "Join Penn Community", new_user_registration_path, method: :get %></td>
</div>
<br />

<h2>House Rules</h2>
<td>
	<p>DO make Penn Community stronger by inviting your classmates to sign up and attend events!</p>
	<p>DO mingle with your fellow classmates by signing up for events where you don't know everyone in the group.</p>
	<p>DO feel free to create events that fit your interests. Want to meet others interested in the retail industry? What about tennis? Or Asian food? Just specify the theme in the event title.</p>
	<p>DON'T flake on events that you sign up for. It's disrespectful toward others and defeats the spirit of Penn Community.</p>
</td>
