<h2>Welcome to the Social Calendar!</h2>
<p>I am a second year Wharton MBA student and I built this website to help students at the various schools at Penn connect with one another more easily.</p>
<p>Check out my <%= link_to "profile", "http://localhost:3000/users/show/7" %> or <%= mail_to "shuoz@wharton.upenn.edu", "contact me" %> if you have any comments or questions about this website</p>
<br />

<% if false %>
<h2>Frequently Asked Questions</h2>
<td>
	<p><div class = "questions" >Why did you build this website?</div></p>
	<p>I wanted students at UPenn to be able to connect with one another socially</p>
	<p><div class = "questions" >How did you build this website?</div></p>
	<p>This was a project for CIS196, a class that I took</p>
	<p><div class = "questions" >Can I learn how to code too?</div></p>
	<p>Yes! I didn't know how to code before either. Hopefully this website helps inspire you to learn as well</p>
</td>
<% end %>
