<% @@shuo_id = 1 %>

<h2>Welcome to Penn Community!</h2>
<p>I am a second year Wharton MBA student and I built this website to help students across Penn campus connect with one another more easily. Despite all living in the same campus, few of us ever hang out with people outside our own academic and social circle. Let's instead all embrace the diverse and vibrant Penn Community! </p>
<p>Check out my <%= link_to "profile", user_show_path(@@shuo_id) %> or <%= mail_to "shuoz@wharton.upenn.edu", "contact me" %> if you have any comments, questions or feedback about this website. I'm constantly looking to improve the experience for all of you!</p>
<br />

<h2>House Rules</h2>
<td>
	<p>DO make Penn Community stronger by inviting your classmates to sign up and attend events!</p>
	<p>DO mingle with your fellow classmates by signing up for events where you don't know everyone in the group.</p>
	<p>DO feel free to create events that fit your interests. Want to meet others interested in retail industry? What about tennis? Or Asian food? Just specify the theme in the event title.</p>
	<p>DON'T flake on events that you sign up for. It's very disrespectful toward others and defeats the spirit of Penn Community.</p>
</td>
