/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require fullcalendar
 */

body {
 	background-image: url(crossword.png);
 	margin: 0;
 	padding: 0;
 	background-origin: content-box;
 	font-family: Arial, sans-serif;
 	font-size: 13px;
 	line-height: 17px;
}

#pennlogo {
  	background-image: url(penn_fulllogo.gif);
 	position: fixed;
	right: -7px;
	top: -1px;
  	padding: 0px;
  	margin: 10px;
  	background-size: 100%;
  	min-width: 115px;
 	min-height: 50px;
 	background-repeat: no-repeat;
 	color: transparent;
 	z-index: 2;
 }

.content{
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
	padding-left: 20px;
	z-index: 1;
	font-family: georgia;
}

/* NAV BAR */

.nav {
 	position: fixed;
 	top: -8px;
 	width: 100%;
 	height: 25px;
 	padding: 10px;
	box-shadow: 0px 0px 10px #333;
	background-color: #E0E0FF;
	text-align: middle;
 	z-index: 2;
}

.nav ul {
	position: fixed;
 	margin: 0;
 	padding: 10;
 	text-align: left;
	vertical-align: middle;
	text-decoration: none;
}

.nav li {
	display: inline;
}

.nav li a {
	text-align: left;
	float: none;
	padding: 5px 10px;
	color: blue;
	text-decoration: none;
	font-size: 16px;
	vertical-align: middle;
}

.dropdown ul {
	display: none;
}

.dropdown:hover ul {
	position: fixed;
	display: inline-block;
	top: 40px;
	margin-left: -110px;
 	z-index: 3;
}

.dropdown li {
	display: block;
	list-style-type: none;
	background-color: green;
}

.dropdown li a {
	text-align: left;
	font-size: 12px;
	color: #c5c5c5;
	text-decoration: none;
}

form {
	display: inline;
	font-family: georgia;
}

#type {
	border: blue;
}

input [type=submit] {
	font-family: georgia;
	border-color: blue;
}

/*     */

#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: georgia,arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 40px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

