/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require fullcalendar
 */

body {
 	background-image: url(crossword.png);
 	margin: 0;
 	padding: 0;
 	background-origin: content-box;
 	font-family: Arial, sans-serif;
 	font-size: 14px;
 	line-height: 17px;
 	font-family: georgia;
}

#pennlogo {
  	background-image: url(penn_fulllogo.gif);
 	position: fixed;
	right: -7px;
	top: -6px;
  	padding: 0px;
  	margin: 10px;
  	background-size: 100%;
  	min-width: 115px;
 	min-height: 50px;
 	background-repeat: no-repeat;
 	color: transparent;
 	z-index: 99;
 }

.content {
	position: relative;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
	padding-left: 20px;
	z-index: 1;
	font-family: georgia;
	font-color: black;
}

.content .photo {
	position: absolute;
	left: 300px;
	top: 80px;
}

.content h2 {
	font-family: georgia;
}

.content .section1 {
	position: absolute;
	left: 21px;
	top: 60px; 
}

.content .section2 {
	position: absolute;
	left: 300px;
	top: 220px; 
}

.content .section3 {
	position: absolute;
	left: 300px;
	top: 93px; 
}

.content .field {
 	text-align: left;
 	font-weight: bold;
 	color: #01256e;
}

.content .field input, select, button {
 	font-family: georgia;
 	font-size: 14px;
 	background-color: #f1f1f1;
  	border-radius: 0px;
  	border-color: #f1f1f1;
  	padding: 3px;
  	border: 0px;
  	text-decoration: none;
}

.content .button2 input {
	font-family: georgia;
	background-color: #f1f1f1;
	color: #4b4b4b;
	border-radius: 0px;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	padding: 2px;
}

.content .button3 input, .button3 a {
	font-family: georgia;
	background-color: transparent;
	text-decoration: underline;
	padding: 0px;
	border: 0px;
	font-size: 14px;
	cursor: pointer;
}

.content table td {
	padding-right: 15px;
}

.content table input, td a {
	font-family: georgia;
	background-color: transparent;
	text-decoration: underline;
	padding: 0px;
	border: 0px;
	font-size: 14px;
	cursor: pointer;
}

.content .field a {
 	background-color: #f1f1f1;
  	border-radius: 0px;
  	border-color: #f1f1f1;
  	padding: 2px;
}

.content .button a, .content .button input {
	background-color: #95001a;
	border-color: #95001a;
	border-radius: 0px;
	color: #f1f1f1;
	font-family: georgia;
 	text-decoration: none;
 	font-size: 14px;
  	padding: 2px;
}

.content .button input {
	cursor: pointer;
}

.nav {
 	position: fixed;
 	top: -13px;
 	width: 100%;
 	height: 25px;
 	padding: 10px;
	box-shadow: 0px 0px 10px #333;
	background-color: #01256e;
	text-align: middle;
 	z-index: 2;
}

.nav input, select {
 	font-family: georgia;
	font-size: 14px;
 	background-color: #f1f1f1;
  	border-radius: 0px;
  	border-color: #f1f1f1;
  	padding: 3px;
  	border: 0px;
  	-webkit-appearance: none;
}

.nav input[name="commit"] {
	font-family: georgia;
	font-size: 14px;
	background-color: #4b4b4b;
	color: #f1f1f1;
	border-radius: 0px;
	text-decoration: none;
  	cursor: pointer;
}

.nav ul {
	position: fixed;
 	margin: 0;
 	padding: 10;
 	text-align: left;
	vertical-align: middle;
	text-decoration: none;
}

.nav li {
	display: inline;
}

.nav li a {
	text-align: left;
	float: none;
	padding: 5px 10px;
	margin-right: 12px;
	color: #f1f1f1;
	text-decoration: none;
	font-size: 17px;
	vertical-align: middle;
}

#comment {
	display: block;
	margin-left: -22px;
}

.dropdown ul {
	display: none;
}

.dropdown:hover ul {
	position: absolute; top: 100%;
	display: inline-table;
	top: 40px;
	margin-left: -125px;
 	z-index: 3;
}

.dropdown li {
	display: block;
	list-style-type: none;
	background-color: #95001a;
	padding-top: 2px;
	padding-bottom: 2px;
}

.dropdown li a {
	text-align: left;
	font-size: 16px;
	color: #f1f1f1;
	text-decoration: none;
	margin-right: 0px;
}

form {
	display: inline;
	font-family: georgia;
}

#calendar table {
	border-collapse: collapse;
	width: 100%;
}

#calendar h2 {
	color: #01256e;
}

#calendar td, #calendar th {
  font-family: georgia,arial,helvetica,sans-serif;
  font-size: 12px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #4b4b4b;
  height: 40px;
  vertical-align: top;
  font-size: 14px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
